<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeLogin</servlet-name>
        <servlet-class>EmployeeLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createTeamServlet</servlet-name>
        <servlet-class>createTeamServlet</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>GenerateSalaryServlet</servlet-name>
        <servlet-class>GenerateSalaryServlet</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>AddAccountServlet</servlet-name>
        <servlet-class>AddAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>AccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LocationServlet</servlet-name>
        <servlet-class>LocationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BranchServlet</servlet-name>
        <servlet-class>BranchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeServlet</servlet-name>
        <servlet-class>removeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskServlet</servlet-name>
        <servlet-class>TaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HoursServlet</servlet-name>
        <servlet-class>HoursServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalaryServlet</servlet-name>
        <servlet-class>SalaryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeavesServlet</servlet-name>
        <servlet-class>LeavesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProblemServlet</servlet-name>
        <servlet-class>ProblemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateServlet</servlet-name>
        <servlet-class>updateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpLogin</servlet-name>
        <servlet-class>EmpLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignTaskServlet</servlet-name>
        <servlet-class>AssignTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonRec</servlet-name>
        <servlet-class>JsonRec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonTask</servlet-name>
        <servlet-class>JsonTask</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeavesServlet</servlet-name>
        <url-pattern>/LeavesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>EmployeeLogin</servlet-name>
        <url-pattern>/EmployeeLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createTeamServlet</servlet-name>
        <url-pattern>/createTeamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeServlet</servlet-name>
        <url-pattern>/removeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LocationServlet</servlet-name>
        <url-pattern>/LocationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProblemServlet</servlet-name>
        <url-pattern>/ProblemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BranchServlet</servlet-name>
        <url-pattern>/BranchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskServlet</servlet-name>
        <url-pattern>/TaskServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalaryServlet</servlet-name>
        <url-pattern>/SalaryServlet</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>HoursServlet</servlet-name>
        <url-pattern>/HoursServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateServlet</servlet-name>
        <url-pattern>/updateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpLogin</servlet-name>
        <url-pattern>/EmpLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignTaskServlet</servlet-name>
        <url-pattern>/AssignTaskServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateSalaryServlet</servlet-name>
        <url-pattern>/GenerateSalaryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAccountServlet</servlet-name>
        <url-pattern>/AddAccountServlet</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/AccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonRec</servlet-name>
        <url-pattern>/JsonRec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonTask</servlet-name>
        <url-pattern>/JsonTask</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
